body {
    margin: 0;
}

a {
    font-family: 'Alegreya SC', serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    line-height: 9px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 171px 6px 170px;
    background: RGBA(86, 83, 76, 0.5294117647058824);
}

.nav-link {
    width: 770px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.nav-link span {
    line-height: 10px;
}

.networks {
    height: 18px;
}

.networks img {
    cursor: pointer;
}

#twitter {
    height: 13px;
    width: 16px;
}

#facebook {
    height: 15px;
    width: 8px;
    margin-right: 23px;
    margin-left: 24px;
}

#instagram {
    height: 16px;
    width: 14px;
}
