body {
    margin: 0;
}

a {
    font-family: 'Alegreya SC', serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    line-height: 9px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 171px 6px 170px;
    background: RGBA(86, 83, 76, 0.5294117647058824);
    position: absolute;
    top: 0;
    width: 1261px;
}

.nav-link {
    width: 770px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.nav-link span {
    line-height: 10px;
}

.networks {
    height: 18px;
}

.networks img {
    cursor: pointer;
}

#twitter {
    height: 13px;
    width: 16px;
}

#facebook {
    height: 15px;
    width: 8px;
    margin-right: 23px;
    margin-left: 24px;
}

#instagram {
    height: 16px;
    width: 14px;
}

/* home-page */

.home-page {
    background: url(./images/img.png);
    background-position: center;
    padding-top: 284px;
    padding-bottom: 215px;
}

/* home-page-content */

.home-page-content {
    text-align: center;
}

.home-page-content h1 {
    font-size: 92px;
    color: #fff;
    line-height: 92px;
    font-weight: bold;
    padding-bottom: 55px;
}

.home-page-content p {
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    width: 544px;
    text-align: center;
    height: 56px;
    line-height: 31px;
    margin: 0 auto;
    padding: 65px 0;
}

.home-page-content button {
    border: 1px solid #79756D;
    width: 201px;
    height: 51px;
    font-size: 16px;
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-style: dashed;
    background: RGBA(86, 83, 76, 0.5294117647058824);
    letter-spacing: 2px;
    cursor: pointer;
}

/* art-of-cakes */

.art-of-cakes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 106px 180px 105px 243px;
}

.art-of-cakes img {
    position: absolute;
    top: 852px;
    left: 0;
}

/* art-of-cakes-content */

.art-of-cakes-content p {
    font-size: 15px;
    width: 484px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    height: 88px;
    margin: 0 auto;
    color: #56534C;
    margin-top: 68px;
    margin-bottom: 44px;
}

.art-of-cakes-content h3 {
    font-size: 24px;
    font-family: 'Alegreya', serif;
    font-weight: bold;
    color: #56534C;
    text-align: center;
    line-height: 19px;
}

/* art-of-cakes-content-title */

.art-of-cakes-content-title {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    text-align: center;
    color: #56534C;
    height: 65px;
}

.art-of-cakes-content-title h2 {
    font-size: 48px;
    line-height: 38px;
    margin-bottom: 8px;
}

.art-of-cakes-content-title h4 {
    font-size: 19px;
    color: #CCB7A7;
    text-transform: uppercase;
    line-height: 20px;
}

/* art-of-cakes-content-chef */

#avatar {
    display: block;
    position: relative;
    top: 0;
    height: 101px;
    width: 101px;
}

.art-of-cakes-content-chef {
    display: flex;
    justify-content: space-between;
    width: 372px;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 24px;
}

.art-of-cakes-content-chef span {
    font-size: 24px;
    color: #56534C;
    padding: 17px 24px;
    border-top: 1px solid RGBA(215, 213, 202, 1);
    border-bottom: 1px solid RGBA(215, 213, 202, 1);
    height: 22px;
}

/* art-of-cakes-content-signed */

.art-of-cakes-content-signed {
    position: relative;
    width: 406px;
    height: 95px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#up-quotes {
    top: 0;
    left: 0;
}

#Unique-creation {
    top: 19px;
    left: calc(50% - 117px);
}

#down-quotes {
    top: 81px;
    left: 93%;
}

/* art-of-cakes-arts */

.art-of-cakes-arts {
    width: 612px;
    height: 522px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.art-of-cakes-arts img {
    position: relative;
    top: 0;
}

.art-of-cakes-art {
    position: relative;
}

.art-of-cakes-art .border-img {
    position: absolute;
    left: 5px;
    z-index: 1;
    top: 5px;
    width: 288px;
    height: 243px;
}

.art-of-cakes-art img {
    width: 297px;
    height: 252px;
}

.art-of-cakes-arts-flower {
    position: absolute;
    z-index: 2;
    height: 247px;
    left: calc(50% - 121px);
    top: calc(50% - 128px);
}

.art-of-cakes-arts-flower img {
    opacity: 0.9;
    filter: brightness(10);
}

.art-of-cakes-arts-flower h3 {
    color: #C9B176;
    font-size: 30px;
    width: 154px;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 34%;
    left: 19%;
}

/* tasty-pancakes */

.tasty-pancakes {
    background: url(./images/placeholder.jpg) no-repeat;
    background-size: cover;
    position: relative;
    padding: 140px 0px 108px 256px;
}

.tasty-pancakes-content {
    background: #fff;
    width: 965px;
    display: flex;
}

/* tasty-pancakes-content-left */

.tasty-pancakes-content-left {
    height: 513px;
    width: 419px;
}

.tasty-pancakes-content-left img {
    height: 512px;
}

/* tasty-pancakes-content-right */

.tasty-pancakes-content-right {
    margin: 0 auto;
    padding-top: 81px;
}

.tasty-pancakes-content-right p {
    font-family: 'Prompt', sans-serif;
    font-size: 14px;
    color: #56534C;
    text-align: justify;
    width: 398px;
    word-spacing: 2px;
    font-weight: 700;
    margin-bottom: 104px;
    margin-top: 70px;
}

/* tasty-pancakes-content-title */

.tasty-pancakes-content-title {
    font-family: 'Alegreya', serif;
    font-weight: bold;
    text-align: left;
    color: #56534C;
}

.tasty-pancakes-content-title h2 {
    font-size: 48px;
    line-height: 49px;
    margin-bottom: 10px;
}

.tasty-pancakes-content-title h3 {
    font-size: 17px;
    color: #CCB7A7;
    line-height: 15px;
    text-transform: uppercase;
}

/* tasty-pancakes-content-slider */

.tasty-pancakes-content-slider {
    height: 92px;
    width: 427px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasty-pancakes-content-slider img {
    width: 32px;
    height: 32px;
}

.tasty-pancakes-content-slider-img {
    width: 332px;
    overflow: hidden;
    height: 92px;
    display: flex;
}

.tasty-pancakes-content-slider-img img {
    width: 92px;
    height: 92px;
    margin: 0 14px;
}

#start-img-tasty-pancakes-slider {
    margin-left: 0;
}

#end-img-tasty-pancakes-slider {
    margin-right: 0;
}

#tasty-pancakes-content-slider-left-btn {
    cursor: pointer;
}

#tasty-pancakes-content-slider-right-btn {
    cursor: pointer;
}

/* tasty-pancakes-ready-in */

.tasty-pancakes-ready-in {
    width: 202px;
    height: 202px;
    box-shadow: -30px 29px 116px -38px;
    text-align: center;
    background: url(./images/Vektor-Smartobj\(5\).png);
    position: absolute;
    top: 13%;
    right: 17%;
}

.tasty-pancakes-ready-in img {
    margin-top: 35px;
}

/* breakfast */

.breakfast {
    background: url(./images/placeholder\(1\).jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 89px 210px 71px 372px;
}

/* breakfast-content */

.breakfast-content {
    color: #fff;
    width: 310px;
}

.breakfast-content h2 {
    font-size: 60px;
    font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.breakfast-content h3 {
    color: #C8A593;
    font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 17px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 66px;
}

/* breakfast-content-description */

.breakfast-content-description {
    width: 310px;
    text-align: center;
    height: 112px;
}

.breakfast-content-description h3 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: none;
    line-height: 27px;
    margin: 0;
}

.breakfast-content-description p {
    color: #abaaaf;
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    line-height: 17px;
    margin-top: 11px;
    margin-bottom: 27px;
}

.wings {
    filter: brightness(0) invert(1);
    margin: 0 auto;
    width: 105px;
    height: 27px;
    margin-top: 13px;
    margin-bottom: 12px;
}

/* menu */

.menu {
    position: relative;
    width: 468px;
}

.menu-list {
    width: 440px;
    height: 600px;
    background: #F3F1E9;
    position: relative;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}

.menu-border {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 419px;
    height: 580px;
    border: 1px solid RGBA(158, 156, 147, 1);
    border-style: dashed;
}

#menu-list-head {
    width: 368px;
    height: 83px;
    margin-top: 45px;
    margin-bottom: 76px;
}

.menu-list h2 {
    font-family: 'Alegreya', serif;
    font-weight: 700;
    width: 331px;
    color: #56534C;
    font-size: 46px;
    margin: 0 auto;
    line-height: 51px; 
}

.menu-list p {
    font-size: 14px;
    width: 327px;
    font-family: 'Prompt', sans-serif;
    color: #56534C;
    margin: 0 auto;
    line-height: 32px;
    padding-top: 31px;
    padding-bottom: 36px;
}

.menu-list button {
    width: 191px;
    height: 51px;
    border: 1px solid rgba(158, 156, 147, 1);
    background: none;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    color: #A47D5E;
    font-family: 'Alegreya', serif;
    font-weight: 700;
}

.menu-list-second {
    width: 402px;
    height: 548px;
    position: absolute;
    top: 4%;
    left: 11%;
    z-index: 1;
}

.menu-list-second .menu-border {
    width: 386px;
    height: 530px;
}

.menu-list-third {
    width: 367px;
    height: 501px;
    position: absolute;
    top: 8%;
    left: 21%;
    z-index: 0;
}

.menu-list-third .menu-border {
    width: 351px;
    height: 485px;
}

#spikelet {
    top: 76%;
    left: 64%;
    position: absolute;
    z-index: 0;
    opacity: 0.1;
}

/* jibarito-sandwitch */

.jibarito-sandwitch {
    position: relative;
    font-family: 'Alegreya', serif;
    background: #F3F1E9;
    padding: 95px 170px 18px 170px;
}

.jibarito-sandwitch img {
    position: absolute;
    left: calc(50% - 353px);
    top: 0;
}

.jibarito-sandwitch h2 {
    font-size: 48px;
    color: #57544D;
    letter-spacing: 1px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 10px;
}

.jibarito-sandwitch p {
    color: #AE8D73;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 16px;
}

/* jibarito-sandwitch-content */

.jibarito-sandwitch-content  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.ingredients {
    height: 740px;
    width: 290px;
}

.ingredient {
    position: relative;
    text-align: center;
    margin-bottom: 56px;
    height: 208px;
}

.ingredient img {
    height: 102px;
    width: 102px;
    position: relative;
    top: 0;
    left: 0;
}

.ingredient h3 {
    color: #A47D5E;
    font-size: 30px;
    margin-top: 22px;
    margin-bottom: 23px;
    line-height: 29px;
}

.ingredient p {
    color: #56534C;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    text-transform: none;
}

/* jibarito-sandwitch-menu */

.jibarito-sandwitch-menu {
    text-align: center;
    position: relative;
    width: 870px;
    height: 602px;
    text-align: end;    
}

.jibarito-sandwitch-menu img {
    position: relative;
    top: 23px;
    left: 0;
    border: 10px solid #fff;
    width: 822px;
    height: 537px;
}

.jibarito-sandwitch-menu button {
    width: 171px;
    height: 60px;
    border: 1px solid #DFC691;
    font-size: 18px;
    color: #DFC691;
    background: #fff;
    font-family: 'Alegreya', serif;
    font-weight: 700;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.prep-cook-ready {
    width: 202px;
    position: absolute;
    right: 8px;
    top: 0;
}

.prep {
    width: 200px;
    height: 200px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: 0.8;
}

.prep img {
    width: 51px;
    height: 102px;
    border: none;
}

.cook {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: 0.8;
}

.cook img {
    width: 56px;
    height: 102px;
    border: none;
}

.ready {
    width: 202px;
    height: 202px;
    background: url(./images/Vektor-Smartobj\(6\).png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.ready img {
    width: 93px;
    height: 132px;
    border: none;
}

/* footer */

footer {
    background: #F3F1E9;
    display: flex;
    align-items: end;
    height: 73px;
    justify-content: space-between;
    padding: 97px 170px 70px 170px;
}

.footer-nav {
    color: #56534C;
    display: flex;
    justify-content: space-between;
    width: 437px;
    padding: 30px 39px;
    font-family: 'Alegreya', serif;
    border: 1px solid #CAC6C1;
    border-left: none;
    border-right: none;
    align-items: center;
}

.footer-nav-right {
    padding: 30px 47px;
    width: 421px;
}

.footer-nav a {
    color: #56534C;
    text-transform: uppercase;
    line-height: 10px;
    font-size: 14px;
    font-weight: 700;
}

.footer-nav span {
    line-height: 3px;
}

footer img {
    filter: brightness(0.1);
    height: 44px;
    width: 140px;
    margin-bottom: 3px;
}